*{
    padding: 0;
    margin: 0;
}

div.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 3fr;
}

div.sidebar{
    border: 1px solid black;
    grid-column: 1/2;
    grid-row: 1/3;
}

div.header{
    border: 1px solid red;
}

div.main{
    border: 1px solid blue;
}